
    <!-- Page Content -->
    <div class="container">


        <div class="row">
        <div class="col-md-2">

                <p class="lead">SingAloud</p>
                <div style="display:inline-block" class="profile-image">
                <%= image_tag ('b3.jpg'), :class => "profile-image" %><div style="color:yellow;"><%= render 'login' %></div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <div class="list-group">
                    <a href="#" class="list-group-item">Choir Members</a>
                    <a href="#" class="list-group-item">The Pearls</a>
                    <a href="#" class="list-group-item">Events</a>
                     <a href="#" class="list-group-item">Ministrations</a>
                </div>
                <br>
                <br>

                <div class="latest-news">
                    <p>Latest News:</p>
                    <p>There will be no rehearsal Today 29/11/2014, due to the program being held at church... </p>

                     <!-- <a href="#" class="list-group-item">Ministrations</a> -->
                </div>
            </div>
            
            <div class="col-md-10">

                <div class="row carousel-holder">

                    <div class="col-md-10">
                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <%= image_tag ('cemchr2ed.jpg'), :class => "slide-image"%>
                                </div>
                                <div class="item">
                                    <%= image_tag ('instr3.jpg'), :class =>"slide-image" %>
                                </div>
                                <div class="item">
                                    <%= image_tag ('cemchoired.jpg'), :class=> "slide-image"%>
                                </div>
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>
                    </div>

                </div>
                <br>
                <div class="col-md-10">
                   <div class="History">

                       <p align="justify">
                       
                       About the choir in general...... When it was established, who established it and where it is now. The Brooklyn Tabernacle Choir is directed by Carol Cymbala, the wife of Pastor Jim Cymbala. The 280-voice choir, which for the most part is composed of vocally untrained church members, has recorded three videos, three DVDs and numerous albums, winning five Dove Awards and six Grammy Awards. Their concert venues in New York City have included Carnegie Hall, Radio City Music Hall, and the Madison Square Garden Theater. They also had the honor of singing at the Billy Graham Crusades that were held in New York City’s Central Park and Flushing Meadows Park. The recognition that the choir has received has provided them with a wide open door for ministry in presenting the gospel message through music to people all over the world.</p>
                   </div>
               </div>

               <br>
               <br>
               <br>

               <div class="col-md-10">
                    <p> Meet the Leaders</p>
               </div>

                <div class="row">


                    <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <%= image_tag ('fc.jpg') %>
                            <div class="caption caption1">
                                <h4> Patron</h4>
                                <p>Rev Stanley Mensah, the deputy general overseer of CEM, is the patron of the CEM choir and is also the leader of the worship team.</p>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                             <%= image_tag ('fc.jpg') %>
                            <div class="caption caption1">
                
                                <h4>Music Director</h4>
                                <p>Pastor TDK, has been the Music director of the second service choir for over 20 years.. He married his wife in the choir and they have 3 lovely boys.</p>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                            <%= image_tag ('fc.jpg') %>
                            <div class="caption caption1">
                                
                                <h4>Programs cordinator</h4>
                                <p>Pastor Atta K,is the programs director of the choir . He married his wife in the choir and they have 2 lovely children.</p>
                            </div>
                            
                        </div>
                    </div>

                </div>
                <div class="lead-cont">
                     <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                             <%= image_tag ('fc.jpg') %>
                            <div class="caption caption1">
                                <h4> Patron</h4>
                                <p>Rev Stanley Mensah, the deputy general overseer of CEM, is the patron of the CEM choir and is also the leader of the worship team.</p>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                             <%= image_tag ('fc.jpg') %>
                            <div class="caption caption1">
                
                                <h4>Music Director</h4>
                                <p>Pastor TDK, has been the Music director of the second service choir for over 20 years.. He married his wife in the choir and they have 3 lovely boys.</p>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-sm-3 col-lg-3 col-md-3">
                        <div class="thumbnail">
                             <%= image_tag ('fc.jpg') %>
                            <div class="caption caption1">
                                
                                <h4>Programs cordinator</h4>
                                <p>Pastor Atta K,is the programs director of the choir . He married his wife in the choir and they have 2 lovely children.</p>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="footer">
                <div class="col-lg-12">
                    <p>Copyright &copy; SingAloud 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
