
<div class="show">


	<p>
	<%= image_tag ('Art-Music.jpg'), :class => "show_image" %>
	</p>
	 
	<p>
	<strong> Title:</strong>
	<%= @song.title %>
	</p>

	<p>
	<strong> Lyrics:</strong>
	<%= @song.lyrics %>
	</p>

	<p>
	<strong> Artist:</strong>
	<%= @song.artist %>
	</p>

	<p>
	<strong> Year:</strong>
	<%= @song.year %>
	</p>

	<p>
	<strong> Album:</strong>
	<%= @song.album %>
	</p>

	<p>
	<strong> Song:</strong>
	<%= @song.song %>
	</p>


	<div class="comment_show">
		<p>Comments</p>
		<%= render @song.comments %>

		<p>
			Add a comment:
		</p>
		<%= render "comments/form" %>
	</div>
</div>

<%= link_to 'Back', songs_path %>
| <%= link_to 'Edit', edit_song_path(@song) %>